<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name='description' content='Confirmation of your account is needed'>
        <meta name='author' content=''>
        <title>{sitename}  - Confirmation of your account is needed</title>
    </head>
    <body>
        Good day {name} {surname},
        <p>Please note that a user account has been created for you on our system. Your login information is as follows</p>
        <p>Username: {username}</p>
        Click this link in order to set your password and then login, <a href='{usrurl}'>{usrurl}</a>
        <br>
        <br>
        <p>If you have any problems then please send an email to {bwcfwadminemail}</p>
        <br>
        <p>Regards,<br>
            Support team</p>
    </body>
</html>