<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name='description' content='Lost password emailer for " . $WSiteName . "'>
        <meta name='author' content='That_One_Guy'>
        <title>{SiteName} - Reset password</title>
    </head>
    <body>
        Good day {name} {surname},
        <h2>You have requested that your password be reset</h2>
        <p>Use use the URL shown below in order to reset your password.</p>
        <a href='{usrurl}'>{usrurl}</a>
        <br>
        <br>
        <p>If you have any problems then please send an email to {bwcfwadminemail}</p>
        <br>
        <p>Regards,<br>
            Support team</p>
    </body>
</html>